* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 5rem;
}

#gameContainer {
  margin: 0 auto;
  width: 1700px;
  height: 750px;
}

#gameCanvas {
  background-color: lightpink;
  position: relative;
  width: 100%;
  height: 100%;
}

#heroContainer {
  position: absolute;
}

#antagonistContainer {
  position: absolute;
}
