* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin-top: 9.5rem;
    background-color: black;
}


#gameContainer {
  position: relative;
  background-color: blue;
  margin: 0 auto;
  width: 1200px;
  height: 600px;

}
